section.card-question_answer
    ._container
        .card-question_answer__header.card-question_answer-header
            .card-question_answer-header__title.h1 Вопросы и ответы
            .card-question_answer-header__text Не нашли ответа на свой вопрос? Напишите нам info@spectr-shop.ru
        .card-question_answer__body
            .card-question_answer__el.card-question_answer-el.wrapper-dropDownList
                .card-question_answer-el__title.dropDownList-title Сколько стоит доставка?
                .card-question_answer-el__text.dropDownList-hidden(style="display: none;")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .card-question_answer__el.card-question_answer-el.wrapper-dropDownList
                .card-question_answer-el__title.dropDownList-title Сколько стоит доставка?
                .card-question_answer-el__text.dropDownList-hidden(style="display: none;")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .card-question_answer__el.card-question_answer-el.wrapper-dropDownList
                .card-question_answer-el__title.dropDownList-title Сколько стоит доставка?
                .card-question_answer-el__text.dropDownList-hidden(style="display: none;")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.