include ./../../pug/mixins
section.gridGoods
    ._container
        .gridGoods__body
            +catalogCard()
            +catalogCard()
            +catalogCard()
            +catalogCard()
            +catalogCard()