include ./../../pug/mixins
section.sliderTop
    .sliderTop__body
        .swiper.sliderTop__container
            .swiper-wrapper
                +sliderTop('img/catalog/slide1.png', 'Люстры')
                +sliderTop('img/catalog/slide2.png', 'Подвесные')
                +sliderTop('img/catalog/slide3.png', 'Потолочные')
                +sliderTop('img/catalog/slide4.png', 'Настенные')
                +sliderTop('img/catalog/slide1.png', 'Люстры')
                +sliderTop('img/catalog/slide2.png', 'Подвесные')
                +sliderTop('img/catalog/slide3.png', 'Потолочные')
                +sliderTop('img/catalog/slide4.png', 'Настенные')




