section.working-conditions-list
    ._container
        .working-conditions-list__grid.working-conditions-list-grid
            .working-conditions-list-grid__block.working-conditions-list-grid-block
                .working-conditions-list-grid-block__text
                    h2.h2 Гарантия
                    p Мы ценим наших клиентов, поэтому подходим ответственно ко всем этапам работы. Юридические вопросы не стали исключением.
                    br
                    p Мы заключаем с каждым заказчиком договор на комплектацию интерьера. Выдаем ведомость предметов интерьера и отделочных материалов, в которой указаны количество и ссылка на каждую позицию. Также предоставляем акт приема-передачи оказанных услуг комплектации.
                    br
                    p Мы также гарантируем: отслеживание сроков поставок; организацию приемки товаров на объекте; проверку товаров по брак; в случае обнаружения дефекта, производим замен товара на такой же или похожий.
                .working-conditions-list-grid-block__img
                    img(src="img/working-conditions/working-conditions_1.svg")
            .working-conditions-list-grid__block.working-conditions-list-grid-block
                .working-conditions-list-grid-block__text
                    h2.h2 Условия доставки
                    p Мы ценим наших клиентов, поэтому подходим ответственно ко всем этапам работы. Юридические вопросы не стали исключением.
                    br
                    p Мы заключаем с каждым заказчиком договор на комплектацию интерьера. Выдаем ведомость предметов интерьера и отделочных материалов, в которой указаны количество и ссылка на каждую позицию. Также предоставляем акт приема-передачи оказанных услуг комплектации.
                    br
                    p Мы также гарантируем: отслеживание сроков поставок; организацию приемки товаров на объекте; проверку товаров по брак; в случае обнаружения дефекта, производим замен товара на такой же или похожий.
                .working-conditions-list-grid-block__img
                    img(src="img/working-conditions/working-conditions_2.svg")
            .working-conditions-list-grid__block.working-conditions-list-grid-block
                .working-conditions-list-grid-block__text
                    h2.h2 Способы оплаты
                    p Мы ценим наших клиентов, поэтому подходим ответственно ко всем этапам работы. Юридические вопросы не стали исключением.
                    br
                    p Мы заключаем с каждым заказчиком договор на комплектацию интерьера. Выдаем ведомость предметов интерьера и отделочных материалов, в которой указаны количество и ссылка на каждую позицию. Также предоставляем акт приема-передачи оказанных услуг комплектации.
                    br
                    p Мы также гарантируем: отслеживание сроков поставок; организацию приемки товаров на объекте; проверку товаров по брак; в случае обнаружения дефекта, производим замен товара на такой же или похожий.
                .working-conditions-list-grid-block__img
                    img(src="img/working-conditions/working-conditions_3.svg")