section.sec-404
    ._container
        .sec-404__body
            img(src="img/404.png")
            .sec-404__title.h3 Страница не найдена
            a.sec-404__btn.button-o(href="/") Перейти на главную