section.design_ideas-articles
    ._container
        .design_ideas-articles__top.main-article-top.card-slider-top
            .card-slider-top__title.h1 Лучшие статьи за неделю
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .main-article-top__btn(data-da=".design_ideas-articles__grid,767,last")
                .button-w Посмотреть все статьи
        .design_ideas-articles__grid
            +articleCard()
            +articleCard()
            +articleCard()
            +articleCard()
            +articleCard()
        .design_ideas-articles__btn
            .button-w Другие статьи