section.design_ideas-project
    ._container
        .design_ideas-project__top.main-article-top.card-slider-top
            .card-slider-top__title.h1 Популярные проеты
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .main-article-top__btn(data-da=".design_ideas-project__grid,768,last")
                .button-w Посмотреть все проекты
        .design_ideas-project__grid
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
        .design_ideas-project__btn
            .button-w Другие проекты