section.design-ideas-video
    ._container
        .design-ideas-video__top.main-article-top.card-slider-top
            .card-slider-top__title.h1 Видео-идеи
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
            a.video-other__subscribe(href="#" data-da=".design-ideas-video__grid,767,last")
                span <u>Подписаться на канал</u>
                svg(width='34', height='34', viewbox='0 0 34 34', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M30.8527 17.2131C30.5014 15.6867 29.2528 14.5607 27.75 14.3931C24.192 13.9956 20.589 13.9938 17.0037 13.9956C13.4168 13.9938 9.81462 13.9956 6.25553 14.3931C4.75345 14.5611 3.50559 15.6871 3.15463 17.2131C2.65444 19.3868 2.64844 21.7595 2.64844 23.9976C2.64844 26.2357 2.64844 28.6081 3.14863 30.7817C3.49959 32.3078 4.74745 33.4338 6.25028 33.6018C9.80862 33.9996 13.4108 34.0011 16.9973 33.9996C20.5841 34.0015 24.1856 33.9996 27.7451 33.6018C29.2472 33.4338 30.4958 32.3078 30.8467 30.7817C31.3465 28.6081 31.3492 26.2357 31.3492 23.9976C31.3488 21.7591 31.3525 19.3868 30.8527 17.2131ZM10.8349 18.8978H8.75762V29.9358H6.82809V18.8978H4.78869V17.0898H10.8349V18.8978ZM16.0757 29.9362H14.34V28.8919C13.6504 29.6823 12.9958 30.0678 12.358 30.0678C11.7989 30.0678 11.4142 29.8413 11.2406 29.3565C11.1461 29.067 11.0876 28.6088 11.0876 27.9332V20.3643H12.8218V27.4116C12.8218 27.8181 12.8218 28.0292 12.8375 28.0862C12.8791 28.3554 13.0108 28.4919 13.2432 28.4919C13.5912 28.4919 13.9549 28.2238 14.3396 27.6797V20.3643H16.0753L16.0757 29.9362ZM22.6648 27.0633C22.6648 27.9485 22.6052 28.5863 22.4893 28.992C22.2576 29.7041 21.7938 30.0678 21.1038 30.0678C20.4867 30.0678 19.8912 29.7251 19.3112 29.0089V29.9366H17.577V17.0898H19.3112V21.2852C19.8714 20.5956 20.466 20.2469 21.1038 20.2469C21.7938 20.2469 22.258 20.6103 22.4893 21.3268C22.6059 21.7119 22.6648 22.3448 22.6648 23.2511V27.0633ZM29.2104 25.4663H25.7417V27.163C25.7417 28.049 26.0315 28.4915 26.6277 28.4915C27.0548 28.4915 27.3034 28.2594 27.4024 27.7959C27.4185 27.7018 27.4414 27.3164 27.4414 26.6208H29.2108V26.8739C29.2108 27.433 29.1894 27.8181 29.1737 27.9913C29.1155 28.3752 28.9791 28.7236 28.7687 29.0303C28.2884 29.7255 27.5767 30.0682 26.6708 30.0682C25.7634 30.0682 25.0728 29.7416 24.5714 29.088C24.2036 28.6088 24.0146 27.8544 24.0146 26.8372V23.4847C24.0146 22.4614 24.1822 21.713 24.5508 21.2293C25.0518 20.5743 25.7421 20.248 26.6281 20.248C27.4984 20.248 28.1883 20.5743 28.6742 21.2293C29.0376 21.713 29.2112 22.4614 29.2112 23.4847V25.4663H29.2104Z', fill='#FF0000')
                    path(d='M26.6125 21.8086C26.0328 21.8086 25.7422 22.2514 25.7422 23.1363V24.0219H27.4764V23.1363C27.476 22.2514 27.1861 21.8086 26.6125 21.8086Z', fill='#FF0000')
                    path(d='M20.1775 21.8086C19.8918 21.8086 19.6023 21.9435 19.3125 22.2304V28.0643C19.602 28.3546 19.8918 28.4918 20.1775 28.4918C20.6777 28.4918 20.9319 28.0643 20.9319 27.2001V23.1145C20.9319 22.2514 20.6777 21.8086 20.1775 21.8086Z', fill='#FF0000')
                    path(d='M21.144 13.1133C21.7833 13.1133 22.4485 12.7249 23.1462 11.9255V12.9806H24.8992V3.30707H23.1462V10.7005C22.7578 11.2494 22.3896 11.5209 22.039 11.5209C21.8043 11.5209 21.6663 11.3821 21.628 11.1103C21.6067 11.0529 21.6067 10.8396 21.6067 10.429V3.30707H19.8594V10.9562C19.8594 11.6394 19.9179 12.1017 20.0146 12.3945C20.1908 12.8846 20.5797 13.1133 21.144 13.1133Z', fill='#181818')
                    path(d='M8.94278 7.72337V12.9806H10.8866V7.72337L13.2248 0H11.2593L9.93305 5.09754L8.5532 0H6.50781C6.91764 1.20324 7.34397 2.41247 7.7538 3.61684C8.37735 5.42713 8.76655 6.79198 8.94278 7.72337Z', fill='#181818')
                    path(d='M15.8277 13.1134C16.7059 13.1134 17.3883 12.7831 17.8724 12.1232C18.2402 11.6391 18.4164 10.8764 18.4164 9.84829V6.46092C18.4164 5.42679 18.2406 4.67088 17.8724 4.18231C17.3883 3.52051 16.7063 3.19017 15.8277 3.19017C14.9541 3.19017 14.272 3.52051 13.7868 4.18231C13.4145 4.67088 13.2383 5.42679 13.2383 6.46092V9.84829C13.2383 10.8764 13.4145 11.6391 13.7868 12.1232C14.2717 12.7831 14.9541 13.1134 15.8277 13.1134ZM14.9912 6.10959C14.9912 5.21456 15.2627 4.76837 15.8277 4.76837C16.3928 4.76837 16.6635 5.21419 16.6635 6.10959V10.1786C16.6635 11.0736 16.3928 11.5213 15.8277 11.5213C15.2627 11.5213 14.9912 11.0736 14.9912 10.1786V6.10959Z', fill='#181818')

            .main-article-top__btn(data-da=".design-ideas-video__grid,767,last")
                .button-w Посмотреть все видео

        .design-ideas-video__grid
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()


        .design-ideas-video__btn
            .button-w Другие видео