section.contacts-form
    ._container
        .contacts-form__grid
            .contacts-form__body
                .contacts-form__title.h2 Остались вопросы?
                .contacts-form__text Оставьте заявку и получите статью "Как проконтролировать строительную бригаду и не потерять деньги"
                form
                    span.input.input--hoshi
                        input#input-1.input__field.input__field--hoshi(type='text')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-1')
                            span.input__label-content.input__label-content--hoshi Ваше имя*

                    span.input.input--hoshi
                        input#input-3.input__field.input__field--hoshi(type='text')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-3')
                            span.input__label-content.input__label-content--hoshi Номер телефона

                    p Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                    button.button-o Отправить

            .contacts-form__img
                img(src="img/contact.png")