.popup#brif
    .popup__body
        .popup__content.brif__content
            a.popup__close.close-popup
                img(src="img/icons/close.svg")







.popup.popup_massagename-message
    .popup__content
        .popup__body
            .popup__close


.popup.popup_video
    .popup__content
        .popup__body
            .popup__close.popup__close_video
            .popup__video._video


