include pug/mixins
doctype html
html(lang="ru")
    +head('Избранное')
    body
        .wrapper
            include pug/_basic/_header
            .page.main
                +crumbs('Избранное')
                +title('Избранное')
                include pug/favourites/grid
                include pug/card/slider




            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js