.basket-grid-info
    .basket-grid-info__title Информация о заказе
    .basket-grid-info__list
        span Товаров
        span 2
    .basket-grid-info__list
        span Скидка
        span 954 ₽

    .basket-grid-info__title.result
        span Итого
        span 34 416 ₽
    .basket-grid-info__btn
        span  Итого 34 416 ₽
        .button-o Отправить заявку