.contacts-top {

  &-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    @include mq('tablet-wide') {
      grid-template-columns: 1fr 1fr 2fr 1fr;
      justify-content: flex-start;
    }

    &__el {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      span {
        width: 100%;
        color: #898989;
        @include adaptive-font(16, 14, 1);
      }

      a {

      }
    }
  }
}