.card-question_answer{
  padding: 45px 0;

  @include mq('tablet-wide') {
    padding: 75px 0;
  }
  &-header{
    padding-bottom: 30px;

    @include mq('tablet-wide') {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 60px;
    }


    &__title{
      @include mq('tablet-wide') {
        border-right: 2px solid #D2D2D2;
        padding-right: 30px;
        line-height: 1;
      }
    }
    &__text{
      color: #898989;
      @include mq('tablet-wide') {
        width: 270px;
      }
    }
  }
  &__body{

  }
  &-el{
    padding: 20px 0;
    border-top: 1px solid #E5E5E5;

    &:last-child{
      border-bottom: 1px solid #E5E5E5;
    }

    &__title{
      font-weight: bold;
      @include adaptive-font(22,16,1);
      width: 100% !important;
      &.open{
        color: $color_3;
      }
    }
    &__text{

    }
  }


}