.card-service{
  padding: 45px 0;
  @include mq('tablet') {
    padding: 75px 0;
  }
  &-grid{

    display: grid;
    grid-gap: 30px;
    @include mq('tablet') {
      padding: 60px 0;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
    }

    &-el{
      display: grid;
      //justify-items: center;
      text-align: center;
      align-content: flex-start;
      gap: 10px;

      &__ic{

      }
      &__title{
        @include adaptive-font(22,16,1);
        font-weight: 800;
      }
      &__text{

      }
    }
  }

}