.card-slider{
  padding: 45px 0;

  @include mq('tablet-wide') {
    padding: 75px 0;
  }

  &-top{
    display: flex;
    flex-direction: column;
    @include adaptive-value(margin-bottom,60,30,1);

    @include mq('tablet-wide') {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }

    &__title{
      @include mq('tablet-wide') {
        border-right: 2px solid #D2D2D2;
        padding-right: 30px;
        line-height: 1;
      }
    }
    &__text{
      color: #898989;
      @include mq('tablet-wide') {
        width: 270px;
      }
    }
    &__nav{
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 30px;
      @include maq('tablet-wide') {
        display: none;
      }
    }
    &__prevBtn,&__nextBtn{
      cursor: pointer;
      &:hover{
        path{
          fill:$color_7;
        }
      }
    }

  }
  &__slider{

  }
  &__slide{
    padding: 10px;
  }
}