.pagging {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	@include maq('tablet') {
		flex-wrap: wrap;
		gap: 20px;
	}
	// .pagging__arrow
	&__arrow {
		transform: translateY(-15px);

		&:hover{
			path{
				stroke: $color_3;
			}
		}
	}

	&__more{
		&:hover{
			color: $color_3;
		}

		@include maq('tablet') {
			width: 100%;
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		li {

		}
	}
	// .pagging__item
	&__item {
		width: 42px;
		height: 30px;
		color: #CACACA;
		display: flex;
		align-items: center;
		justify-content: center;


		&:not(.none){
			border-top: 2px solid #CACACA;
		}

		&._active,&:hover {

			&:not(.none){
				border-top: 2px solid $color_3;
				color: $color_2;
			}
		}
	}
}
