
.popup__title{
	font-weight: bold;
	@include adaptive-font(36,16,1);
}
.close-popup{
	cursor: pointer;
}

.popup__content{
	border-radius: 5px;
}

#popup_1{
	@include maq('tablet'){
		.popup__title{
			margin-bottom: 30px;
		}
		.popup__body{
			padding: 0;
			align-items: flex-end;
		}
		.popup__content {
			padding: 30px 10px;
			width: 100%;
		}
		.button-o,.button-w{
			padding: 0 20px;
		}
	}
	.popup__grid{
		padding: 30px 0;
		@include maq('tablet') {
			display: none;
		}
		.basket-grid-cards-el{
			grid-template-columns: 85px 2fr 90px 1fr  28px !important;
		}
	}
	.popup__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		span{
			display: none;
		}
		.button-o,.button-w{
			@include adaptive-font(18,14,1);

		}
		@include mq('tablet') {
			padding: 30px;
			background: #EEF3F6;
			margin-left: -30px;
			margin-right: -30px;
			margin-bottom: -30px;
			flex-wrap: wrap;
			gap: 30px;

			span{
				b{
					font-size: 26px;
				}
				display: inline-block;
				width: 45%;
				&:nth-child(2){
					text-align: right;
				}
			}
			.button-o{
				margin-left: auto;
			}
		}
	}
}

#popup_2{
	.popup__grid{
		display: grid;
		padding: 20px 0 30px;
		@include mq('tablet-wide') {
			grid-gap:0 30px;
			padding: 50px 0 60px;
			grid-template-columns: 1fr 1fr;
		}
	}
	p{
		color: #898989;
		font-size: 16px;
	}
}
#popup_4{
	.popup__grid{
		display: grid;
		padding: 20px 0 30px;
		@include mq('tablet-wide') {
			grid-gap:0 30px;
			padding: 50px 0 60px;
			grid-template-columns: 1fr 1fr;
		}
	}
	p{
		color: #898989;
		font-size: 16px;
	}
	.full{
		@include mq('tablet-wide') {
			grid-column: span 2;
		}
	}
}
