section.brand
    ._container
        .brand__title.h2 Бренды, с которыми мы сотрудничаем
        p Мы располагаем обширной базой поставщиков — это только проверенные компании, с которыми мы работаем не один год и в надежности которых уверены.
        .brand__grid
            .brand__img
                img(src="img/brend/brend1.svg")
            .brand__img
                img(src="img/brend/brend2.svg")
            .brand__img
                img(src="img/brend/brend3.svg")
            .brand__img
                img(src="img/brend/brend4.svg")
            .brand__img
                img(src="img/brend/brend1.svg")
            .brand__img
                img(src="img/brend/brend2.svg")
            .brand__img
                img(src="img/brend/brend3.svg")
            .brand__img
                img(src="img/brend/brend4.svg")