section.eq-first
    ._container
        .eq-first__grid.eq-first-grid
            .eq-first-grid__text
                .eq-first__title Мы подбираем, покупаем, доставляем необходимые товары — вы экономите деньги, время и нервы.
                .h4 Готовый интерьер, как с картинки
                p Находим товары, которые не отличаются от задействованных в дизайн-проекте.
                .h4 Экономия времени и денег
                p Максимально выгодные условия: вам не приходится закупаться у множества поставщиков — все материалы в одном месте.
                .eq-first__btn.button-o Оставить заявку
                span на бесплатную консультацию
            .eq-first-grid__img(style="background-image: url('img/eq.png');")