section.opt
    ._container
        .opt__grid
            .opt__img(style="background-image: url('img/cat.svg');")
            .opt__text
                .opt__title.h2 Более 100 000 товаров в каталоге
                .opt__text Обновляем каталог актуальными моделями каждого сезона. Предоставляем оптовые цены на закупку от 1 штуки.
                .opt__btn.button-o Запросить каталог