section.eq-project
    ._container
        .eq-project__title.h2 Проекты, укомплектованные нами
        .eq-project__grid
            .eq-project__elem.eq-project-elem
                .eq-project-elem__description
                    .eq-project-elem__duo
                        span Задача:
                        span укомплектовать объект в Краснодаре плиткой
                    .eq-project-elem__duo
                        span Площадь объекта
                        span 152 м<sup>2</sup>
                    .eq-project-elem__text "Спасибо компании "Спектр" , что заявленные условия были выполнены. Все в срок, товар пришел без брака. Личный менеджер - приятный и вежливый специалист,который всегда был на связи и отвечал на вопросы, возникающие по ходу дела."
                    .eq-project-elem__signature.project-main-body__signature.project-main-body-signature
                        .project-main-body-signature__name  Руслан Третьяков
                        .project-main-body-signature__img(style='background-image: url("img/project/project_1.png");')
                        .project-main-body-signature__post Руководитель студии Brick to Brick
                .eq-project-elem__img(style='background-image: url("img/project/project_1.png");')
            .eq-project__elem.eq-project-elem
                .eq-project-elem__description
                    .eq-project-elem__duo
                        span Задача:
                        span укомплектовать объект в Краснодаре плиткой
                    .eq-project-elem__duo
                        span Площадь объекта
                        span 152 м<sup>2</sup>
                    .eq-project-elem__text "Спасибо компании "Спектр" , что заявленные условия были выполнены. Все в срок, товар пришел без брака. Личный менеджер - приятный и вежливый специалист,который всегда был на связи и отвечал на вопросы, возникающие по ходу дела."
                    .eq-project-elem__signature.project-main-body__signature.project-main-body-signature
                        .project-main-body-signature__name  Руслан Третьяков
                        .project-main-body-signature__img(style='background-image: url("img/project/project_1.png");')
                        .project-main-body-signature__post Руководитель студии Brick to Brick
                .eq-project-elem__img(style='background-image: url("img/project/project_1.png");')


