section.working_us
    ._container
        .working_us__title.h2 Работать с нами легко — убедитесь в этом сами
        p Наша задача — сделать процесс получения товара для заказчика максимально простым и понятным. Ознакомьтесь с этапами, из которых состоит сотрудничество с нами.
        .working_us__grid.swiper
            .swiper-wrapper
                .swiper-slide.working_us__card.working_us-card
                    .working_us-card__number 01
                    .working_us-card__body
                        .working_us-card__title Связываемся с вами
                        .working_us-card__text Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
                .swiper-slide.working_us__card.working_us-card
                    .working_us-card__number 01
                    .working_us-card__body
                        .working_us-card__title Связываемся с вами
                        .working_us-card__text Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
                .swiper-slide.working_us__card.working_us-card
                    .working_us-card__number 01
                    .working_us-card__body
                        .working_us-card__title Связываемся с вами
                        .working_us-card__text Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
                .swiper-slide.working_us__card.working_us-card
                    .working_us-card__number 01
                    .working_us-card__body
                        .working_us-card__title Связываемся с вами
                        .working_us-card__text Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
                .swiper-slide.working_us__card.working_us-card
                    .working_us-card__number 01
                    .working_us-card__body
                        .working_us-card__title Связываемся с вами
                        .working_us-card__text Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
        .working_us__btn.button-o Оставить заявку
