.advantages{
  padding: 45px 0;
  @include mq('tablet-wide') {
    padding: 75px 0;
  }

  &__title{
    @include adaptive-value(margin-bottom, 30, 10, 1);
  }
  p{
    @include adaptive-value(margin-bottom, 60, 30, 1);
  }

  &__grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    @include mq('tablet-wide') {
      grid-template-columns: repeat(4,1fr);
    }

  }
  &-card{
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 20px 10px;
    display: grid;
    @include adaptive-value(grid-gap, 40, 20, 1);
    justify-items: center;
    text-align: center;

    &__icons{

    }
    &__text{

    }
  }
}