.design-ideas-video{
  padding: 45px 0;
  @include mq('tablet-wide') {
    padding: 75px 0;
  }

  &__top{
    .video-other__subscribe{
      padding-top: 0 ;
    }
  }
  &__grid{
    display: grid;
    grid-gap:30px;

    @include mq('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq('tablet-wide') {
      grid-template-columns: repeat(3, 1fr);
    }
    .video-other__subscribe{
      padding-top: 0;
    }
    .video-list-grid-block{
      @include mq('tablet-wide') {
        &:nth-child(6n+1), &:nth-child(6n-1) {
          grid-column: span 2;
          grid-row: span 2;
          height: 100%;
        }
      }
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    @include maq('tablet-wide') {
      display: none;
    }
  }
}