include ./../../pug/mixins
section.video-list
    ._container
        .video-list__grid.video-list-grid
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()
            +videoCard()



        .articles-lists__pagination
            include ./.././../pug/_basic/_pagination