.dropDownList-title{

  cursor: pointer;
  padding-right: 25px;
  background-position: right 10px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  @include mq('tablet') {
    width: fit-content;
  }

  &:after{
    content: '';
    background-image: url("./../img/icons/down-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    display: flex;
    top: 4px;
    right: 0;
  }

  &.open:after{
    transform: rotate(180deg);
    padding-bottom: 10px;
  }
  &.open{
    padding-bottom: 10px;
  }
}

