include ./../../pug/mixins
section.project-list
    ._container
        .project-list__grid.project-list-grid
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()
            +projectCard()

        .articles-lists__pagination
            include ./.././../pug/_basic/_pagination