section.aboutAs
    ._container
        .aboutAs__top.main-article-top.card-slider-top
            .card-slider-top__title.h1 О магазине
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .aboutAs__grid.aboutAs-grid
            .aboutAs-grid__block.aboutAs-grid-block
                .aboutAs-grid-block__img
                    img(src='img/main/about_1.svg')
                .aboutAs-grid-block__name Лучшие цены
                .aboutAs-grid-block__text Цены производителей и дистрибьюторов. Постоянные акции и распродажи
            .aboutAs-grid__block.aboutAs-grid-block
                .aboutAs-grid-block__img
                    img(src='img/main/about_2.svg')
                .aboutAs-grid-block__name Лучшие цены
                .aboutAs-grid-block__text Цены производителей и дистрибьюторов. Постоянные акции и распродажи
            .aboutAs-grid__block.aboutAs-grid-block
                .aboutAs-grid-block__img
                    img(src='img/main/about_3.svg')
                .aboutAs-grid-block__name Лучшие цены
                .aboutAs-grid-block__text Цены производителей и дистрибьюторов. Постоянные акции и распродажи