section.main-article
    ._container
        .main-article__top.main-article-top.card-slider-top
            .card-slider-top__title.h1 Статьи
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .main-article-top__btn(data-da=".main-article-grid,767,last")
                .button-w Смотреть все

        .main-article__grid.main-article-grid
            .main-article-grid__card.main-article-grid-card
                .main-article-grid-card__img(style="background-image: url('img/main/block_1.png');")
                .main-article-grid-card__descrip
                    .main-article-grid-card__hashtags
                        span Квартира
                        span Малогабаритка
                    .main-article-grid-card__title 4 дизайн-приема для малогабариток от самого дорогого архитектора
                    .main-article-grid-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .main-article-grid-card__more
                        span Подробнее
                        svg(width='28', height='11', viewbox='0 0 28 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M1.92396e-05 5.60873C1.92197e-05 5.15309 0.365771 4.78373 0.816949 4.78373L25.2578 4.78373L22.5524 1.33756C22.2721 0.980516 22.3315 0.461613 22.685 0.178551C23.0386 -0.104509 23.5524 -0.0445386 23.8327 0.312501L28 5.62082L23.821 10.7021C23.5327 11.0526 23.0177 11.1007 22.6706 10.8096C22.3235 10.5185 22.2758 9.99838 22.5641 9.64787L25.2075 6.43372L0.816949 6.43372C0.365771 6.43372 1.92595e-05 6.06436 1.92396e-05 5.60873Z', fill='#EB8B55')
            .main-article-grid__card.main-article-grid-card
                .main-article-grid-card__img(style="background-image: url('img/main/block_1.png');")
                .main-article-grid-card__descrip
                    .main-article-grid-card__hashtags
                        span Квартира
                        span Малогабаритка
                    .main-article-grid-card__title 4 дизайн-приема для малогабариток от самого дорогого архитектора
                    .main-article-grid-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .main-article-grid-card__more
                        span Подробнее
                        svg(width='28', height='11', viewbox='0 0 28 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M1.92396e-05 5.60873C1.92197e-05 5.15309 0.365771 4.78373 0.816949 4.78373L25.2578 4.78373L22.5524 1.33756C22.2721 0.980516 22.3315 0.461613 22.685 0.178551C23.0386 -0.104509 23.5524 -0.0445386 23.8327 0.312501L28 5.62082L23.821 10.7021C23.5327 11.0526 23.0177 11.1007 22.6706 10.8096C22.3235 10.5185 22.2758 9.99838 22.5641 9.64787L25.2075 6.43372L0.816949 6.43372C0.365771 6.43372 1.92595e-05 6.06436 1.92396e-05 5.60873Z', fill='#EB8B55')
            .main-article-grid__card.main-article-grid-card
                .main-article-grid-card__img(style="background-image: url('img/main/block_1.png');")
                .main-article-grid-card__descrip
                    .main-article-grid-card__hashtags
                        span Квартира
                        span Малогабаритка
                    .main-article-grid-card__title 4 дизайн-приема для малогабариток от самого дорогого архитектора
                    .main-article-grid-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .main-article-grid-card__more
                        span Подробнее
                        svg(width='28', height='11', viewbox='0 0 28 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M1.92396e-05 5.60873C1.92197e-05 5.15309 0.365771 4.78373 0.816949 4.78373L25.2578 4.78373L22.5524 1.33756C22.2721 0.980516 22.3315 0.461613 22.685 0.178551C23.0386 -0.104509 23.5524 -0.0445386 23.8327 0.312501L28 5.62082L23.821 10.7021C23.5327 11.0526 23.0177 11.1007 22.6706 10.8096C22.3235 10.5185 22.2758 9.99838 22.5641 9.64787L25.2075 6.43372L0.816949 6.43372C0.365771 6.43372 1.92595e-05 6.06436 1.92396e-05 5.60873Z', fill='#EB8B55')
            .main-article-grid__card.main-article-grid-card
                .main-article-grid-card__img(style="background-image: url('img/main/block_1.png');")
                .main-article-grid-card__descrip
                    .main-article-grid-card__hashtags
                        span Квартира
                        span Малогабаритка
                    .main-article-grid-card__title 4 дизайн-приема для малогабариток от самого дорогого архитектора
                    .main-article-grid-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .main-article-grid-card__more
                        span Подробнее
                        svg(width='28', height='11', viewbox='0 0 28 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M1.92396e-05 5.60873C1.92197e-05 5.15309 0.365771 4.78373 0.816949 4.78373L25.2578 4.78373L22.5524 1.33756C22.2721 0.980516 22.3315 0.461613 22.685 0.178551C23.0386 -0.104509 23.5524 -0.0445386 23.8327 0.312501L28 5.62082L23.821 10.7021C23.5327 11.0526 23.0177 11.1007 22.6706 10.8096C22.3235 10.5185 22.2758 9.99838 22.5641 9.64787L25.2075 6.43372L0.816949 6.43372C0.365771 6.43372 1.92595e-05 6.06436 1.92396e-05 5.60873Z', fill='#EB8B55')



