section.main-blocks3
    ._container
        .main-blocks3__top.card-slider__top.card-slider-top
            .card-slider-top__title.h1 Популярные разделы
            .card-slider-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit

    .main-blocks3__body
        a.main-blocks3__el.main-blocks3-el( href="#" style="background-image: url('img/main/block_1.png');")
            .main-blocks3-el__name.h2 Люстры
        a.main-blocks3__el.main-blocks3-el( href="#" style="background-image: url('img/main/block_2.png');")
            .main-blocks3-el__name.h2 Подвесные светильники
        a.main-blocks3__el.main-blocks3-el( href="#" style="background-image: url('img/main/block_3.png');")
            .main-blocks3-el__name.h2 Настенные светильники

