section.main-first
    .main-first__slider.swiper
        .swiper-wrapper
            .main-first__slide.swiper-slide(style="background-image: url('img/main/first.png');")
                ._container
                    .main-first__body
                        .main-first__title Дарим 5 000 ₽
                        .main-first__text Дна первую покупку



            .main-first__slide.swiper-slide(style="background-image: url('img/main/first.png');")
                ._container
                    .main-first__body
                        .main-first__title Дарим 5 000 ₽
                        .main-first__text Дна первую покупку



            .main-first__slide.swiper-slide(style="background-image: url('img/main/first.png');")
                ._container
                    .main-first__body
                        .main-first__title Дарим 5 000 ₽
                        .main-first__text Дна первую покупку



        .main-first__pagination