section.articles-teg
    ._container
        .articles-teg__top
            span Рубрики:
            .articles-teg__buttons
                span.active Все
                span Стили
                span Дизайн
                span Декор
                span Мебель
                span Советы

            select.form__select.articles-teg__select(name='categories')
                option(value='Popular', selected='') Все
                option(value='Ascending') Стили
                option(value='Descending') Дизайн
                option(value='Ascending') Декор
                option(value='Descending') Мебель
                option(value='Descending') Советы
        .articles-teg__bottom.height
            span Квартира
            span Дом
            span Дача
            span Гостинная
            span Скандинавский стиль
            span Кухня и столовая
            span Ванная
            span Бохо
            span Квартира
            span Квартира
            span Дом
            span Дача
            span Гостинная
            span Скандинавский стиль
            span Кухня и столовая
            span Ванная
            span Бохо
            span Квартира
            span Квартира
            span Дом
            span Дача
            span Гостинная
            span Скандинавский стиль
            span Кухня и столовая
            span Ванная
            span Бохо
            span Квартира
            span Квартира
            span Дом
            span Дача
            span Гостинная
            span Скандинавский стиль
            span Кухня и столовая
            span Ванная
            span Бохо
            span Квартира
        .articles-teg__button
            p Показать все тэги
            svg(width='14', height='14', viewbox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_281_541)')
                    path(d='M0.223773 3.55649L0.682363 3.09471C0.826689 2.9505 1.01871 2.87105 1.22393 2.87105C1.42904 2.87105 1.62128 2.9505 1.76561 3.09471L6.99687 8.3262L12.2342 3.0889C12.3783 2.94469 12.5705 2.86536 12.7756 2.86536C12.9807 2.86536 13.1731 2.94469 13.3173 3.0889L13.776 3.54783C14.0747 3.84627 14.0747 4.33241 13.776 4.63085L7.54037 10.8889C7.39627 11.033 7.20425 11.1345 6.99733 11.1345L6.99494 11.1345C6.78971 11.1345 6.5977 11.0329 6.4536 10.8889L0.223773 4.64781C0.0794469 4.50371 0.000226147 4.30589 -8.4567e-07 4.10078C-8.63611e-07 3.89556 0.0794469 3.70047 0.223773 3.55649Z', fill='#181818')
                defs
                    clippath#clip0_281_541
                        rect(width='14', height='14', fill='white', transform='matrix(-1 8.74228e-08 8.74228e-08 1 14 0)')
