section.favourites-grid
    ._container
        .favourites-grid-body
            .favourites-grid__el.favourites-grid-el
                .favourites-grid-el__img(style="background-image: url('img/basket/card1.png');")
                .favourites-grid-el__name Люстра <br> DUMO MD8506/6A

                .favourites-grid-el__price
                    span 29 916 ₽
                    span 29 916 ₽

                .favourites-grid-el__btn.button-o В корзину

                .favourites-grid-el__delite
                    svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_380_4859)')
                            path(d='M21.3197 2.65307H16.2083V1.59189C16.2083 0.714104 15.4942 0 14.6164 0H11.4329C10.5551 0 9.84097 0.714104 9.84097 1.59189V2.65307H4.72935C3.85157 2.65307 3.1377 3.36717 3.1377 4.24495V6.89779H4.19888L5.06554 24.4081C5.06554 25.2859 5.77942 26 6.6572 26H19.3918C20.2696 26 20.9837 25.2859 20.9837 24.4081L21.8504 6.89779H22.9116V4.24495C22.9116 3.36717 22.1975 2.65307 21.3197 2.65307ZM10.9022 1.59189C10.9022 1.29922 11.14 1.06118 11.4329 1.06118H14.6164C14.9093 1.06118 15.1471 1.29922 15.1471 1.59189V2.65307H10.9022V1.59189ZM19.9225 24.4081C19.9225 24.701 19.6847 24.9388 19.3918 24.9388H6.6572C6.36453 24.9388 6.12673 24.701 6.12673 24.4081L5.26006 6.89779H20.7892L19.9225 24.4081ZM21.8504 5.83661H4.19888V4.24495C4.19888 3.95228 4.43669 3.71425 4.72935 3.71425H21.3197C21.6126 3.71425 21.8504 3.95228 21.8504 4.24495V5.83661Z', fill='black')
                            path(d='M16.2084 22.2857C16.5018 22.2857 16.7389 22.0483 16.7389 21.7552V10.0815C16.7389 9.78836 16.5018 9.55078 16.2084 9.55078C15.9151 9.55078 15.6777 9.78836 15.6777 10.0815V21.7552C15.6777 22.0483 15.9151 22.2857 16.2084 22.2857Z', fill='black')
                            path(d='M13.0256 22.2857C13.3189 22.2857 13.5563 22.0483 13.5563 21.7552V10.0815C13.5563 9.78836 13.3189 9.55078 13.0256 9.55078C12.7325 9.55078 12.4951 9.78836 12.4951 10.0815V21.7552C12.4951 22.0483 12.7325 22.2857 13.0256 22.2857Z', fill='black')
                            path(d='M9.84223 22.2857C10.1356 22.2857 10.3727 22.0483 10.3727 21.7552V10.0815C10.3727 9.78836 10.1356 9.55078 9.84223 9.55078C9.54888 9.55078 9.31152 9.78836 9.31152 10.0815V21.7552C9.31152 22.0483 9.54888 22.2857 9.84223 22.2857Z', fill='black')
                        defs
                            clippath#clip0_380_4859
                                rect(width='26', height='26', fill='white')
            .favourites-grid__el.favourites-grid-el
                .favourites-grid-el__img(style="background-image: url('img/basket/card1.png');")
                .favourites-grid-el__name Люстра <br> DUMO MD8506/6A

                .favourites-grid-el__price
                    span 29 916 ₽
                    span 29 916 ₽

                .favourites-grid-el__btn.button-o В корзину

                .favourites-grid-el__delite
                    svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_380_4859)')
                            path(d='M21.3197 2.65307H16.2083V1.59189C16.2083 0.714104 15.4942 0 14.6164 0H11.4329C10.5551 0 9.84097 0.714104 9.84097 1.59189V2.65307H4.72935C3.85157 2.65307 3.1377 3.36717 3.1377 4.24495V6.89779H4.19888L5.06554 24.4081C5.06554 25.2859 5.77942 26 6.6572 26H19.3918C20.2696 26 20.9837 25.2859 20.9837 24.4081L21.8504 6.89779H22.9116V4.24495C22.9116 3.36717 22.1975 2.65307 21.3197 2.65307ZM10.9022 1.59189C10.9022 1.29922 11.14 1.06118 11.4329 1.06118H14.6164C14.9093 1.06118 15.1471 1.29922 15.1471 1.59189V2.65307H10.9022V1.59189ZM19.9225 24.4081C19.9225 24.701 19.6847 24.9388 19.3918 24.9388H6.6572C6.36453 24.9388 6.12673 24.701 6.12673 24.4081L5.26006 6.89779H20.7892L19.9225 24.4081ZM21.8504 5.83661H4.19888V4.24495C4.19888 3.95228 4.43669 3.71425 4.72935 3.71425H21.3197C21.6126 3.71425 21.8504 3.95228 21.8504 4.24495V5.83661Z', fill='black')
                            path(d='M16.2084 22.2857C16.5018 22.2857 16.7389 22.0483 16.7389 21.7552V10.0815C16.7389 9.78836 16.5018 9.55078 16.2084 9.55078C15.9151 9.55078 15.6777 9.78836 15.6777 10.0815V21.7552C15.6777 22.0483 15.9151 22.2857 16.2084 22.2857Z', fill='black')
                            path(d='M13.0256 22.2857C13.3189 22.2857 13.5563 22.0483 13.5563 21.7552V10.0815C13.5563 9.78836 13.3189 9.55078 13.0256 9.55078C12.7325 9.55078 12.4951 9.78836 12.4951 10.0815V21.7552C12.4951 22.0483 12.7325 22.2857 13.0256 22.2857Z', fill='black')
                            path(d='M9.84223 22.2857C10.1356 22.2857 10.3727 22.0483 10.3727 21.7552V10.0815C10.3727 9.78836 10.1356 9.55078 9.84223 9.55078C9.54888 9.55078 9.31152 9.78836 9.31152 10.0815V21.7552C9.31152 22.0483 9.54888 22.2857 9.84223 22.2857Z', fill='black')
                        defs
                            clippath#clip0_380_4859
                                rect(width='26', height='26', fill='white')
            .favourites-grid__el.favourites-grid-el
                .favourites-grid-el__img(style="background-image: url('img/basket/card1.png');")
                .favourites-grid-el__name Люстра <br> DUMO MD8506/6A

                .favourites-grid-el__price
                    span 29 916 ₽
                    span 29 916 ₽

                .favourites-grid-el__btn.button-o В корзину

                .favourites-grid-el__delite
                    svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_380_4859)')
                            path(d='M21.3197 2.65307H16.2083V1.59189C16.2083 0.714104 15.4942 0 14.6164 0H11.4329C10.5551 0 9.84097 0.714104 9.84097 1.59189V2.65307H4.72935C3.85157 2.65307 3.1377 3.36717 3.1377 4.24495V6.89779H4.19888L5.06554 24.4081C5.06554 25.2859 5.77942 26 6.6572 26H19.3918C20.2696 26 20.9837 25.2859 20.9837 24.4081L21.8504 6.89779H22.9116V4.24495C22.9116 3.36717 22.1975 2.65307 21.3197 2.65307ZM10.9022 1.59189C10.9022 1.29922 11.14 1.06118 11.4329 1.06118H14.6164C14.9093 1.06118 15.1471 1.29922 15.1471 1.59189V2.65307H10.9022V1.59189ZM19.9225 24.4081C19.9225 24.701 19.6847 24.9388 19.3918 24.9388H6.6572C6.36453 24.9388 6.12673 24.701 6.12673 24.4081L5.26006 6.89779H20.7892L19.9225 24.4081ZM21.8504 5.83661H4.19888V4.24495C4.19888 3.95228 4.43669 3.71425 4.72935 3.71425H21.3197C21.6126 3.71425 21.8504 3.95228 21.8504 4.24495V5.83661Z', fill='black')
                            path(d='M16.2084 22.2857C16.5018 22.2857 16.7389 22.0483 16.7389 21.7552V10.0815C16.7389 9.78836 16.5018 9.55078 16.2084 9.55078C15.9151 9.55078 15.6777 9.78836 15.6777 10.0815V21.7552C15.6777 22.0483 15.9151 22.2857 16.2084 22.2857Z', fill='black')
                            path(d='M13.0256 22.2857C13.3189 22.2857 13.5563 22.0483 13.5563 21.7552V10.0815C13.5563 9.78836 13.3189 9.55078 13.0256 9.55078C12.7325 9.55078 12.4951 9.78836 12.4951 10.0815V21.7552C12.4951 22.0483 12.7325 22.2857 13.0256 22.2857Z', fill='black')
                            path(d='M9.84223 22.2857C10.1356 22.2857 10.3727 22.0483 10.3727 21.7552V10.0815C10.3727 9.78836 10.1356 9.55078 9.84223 9.55078C9.54888 9.55078 9.31152 9.78836 9.31152 10.0815V21.7552C9.31152 22.0483 9.54888 22.2857 9.84223 22.2857Z', fill='black')
                        defs
                            clippath#clip0_380_4859
                                rect(width='26', height='26', fill='white')