.video-basic{
  padding: 0 0 45px;
  @include mq('tablet-wide') {
    padding: 0 0 75px;
  }

  &-body{

    &__movie{
      display: block;
      @include adaptive-value(height,660,240,1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      position: relative;

      &:hover path{
        fill:$color_3;
      }

      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-29px) translateY(-29px);
      }

    }

    &__text{
      @include adaptive-value(padding-top,60,30,1);
      padding-bottom: 30px;
    }

    &-bottom{
      padding-top: 20px;
      border-top: 1px solid #E5E5E5;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;

      &__hashtags{
        display: flex;
        gap: 10px;

        span {
          background-color: $color_1;
          padding: 5px 15px;
          border: 1px solid #898989;
          color: #898989;
          border-radius: 30px;
          @include adaptive-font(14, 12, 1);
        }
      }
      &__share{

        display: flex;
        gap: 10px;
        align-items: center;
        a:hover path{
          fill:$color_3;
        }
      }
    }
  }
}